<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>My App</title>

    <link rel="stylesheet" type="text/css" href="stylesheet.css"/>

  </head>

  <body>
    <div ng-controller="mainController as container">
      <ul ng-repeat="person in container.people">
        <li>
          <div id="info">
            <p ng-hide="person.editing" ng-model="person.name">Name: {{person.name}}</p>
            <p ng-hide="person.editing" ng-model="person.age">Age: {{person.age}}</p>
            <p ng-show="person.editing">Name: <input type="text" ng-model="person.name" /></p>
            <p ng-show="person.editing">Age: <input type="text" ng-model="person.age"/></p>
          </div>
          <p ng-hide="person.editing" ><button class="btnEdit" ng-click="person.editing=true">Edit</button></p>
          <p ng-show="person.editing" ><button class="btnSave" ng-click="person.editing=false">Save</button></p>

        </li>
      </ul>
      <button class="btnSort" ng-click="container.sortList()">Sort</button>
      <h3>Data</h3>
      <span style="color: #000000;">{{container.people}}</span>
    </div>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>

</html>
